SECRET_KEY1=
SECRET_KEY2=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRATION_IN_MINUTES=
SUPER_USER_NAME=
SUPER_USER_PASSWORD=
SUPER_USER_ROLE = CEO|manager|logistics_manager|store_supervisor|admin|procurement|accountant|receptionist|janitor|P.A.|driver|cook|security