{% extends 'layout/layout.html' %}

{% block title %} Store {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stores</h4>
            <p class="card-text"></p>
        </div>
        {% if show_response %}
            {% if is_success %}
                <div
                    class="alert alert-primary"
                    role="alert"
                >
                    <strong>Store ({{store_details.store_name}}) created successfully!</strong>
                    <br/>
                    <a href="/store" class="btn btn-primary w-50">OK!</a>
                </div>
                
            {% else %}
                <div
                    class="alert alert-danger"
                    role="alert"
                >
                    <strong>Error in Creating store</strong><br/>
                    {{details}} <br/>
                    Contact Admin for further help<br/>
                    <a href="/store" class="btn btn-danger w-50">OK!</a>
                </div>
            {% endif %}
        {% else %}
            {% block conditionalContent %}{% endblock %}

            <div class="card-footer">
                <!-- Modal trigger button -->
                <button
                    type="button"
                    class="btn btn-primary btn-lg"
                    data-bs-toggle="modal"
                    data-bs-target="#the-modal"
                >
                    Add New Store
                </button>
            </div>
        {% endif %}

    </div>

    
    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div
        class="modal fade"
        id="the-modal"
        tabindex="-1"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        
        role="dialog"
        aria-labelledby="modalTitleId"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Create New Store
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form action="/store" method="POST">
                        <div class="mb-3">
                            <label for="store_name" class="form-label">Store Name</label>
                            <input
                                type="text"
                                name="store_name"
                                id="store_name"
                                class="form-control"
                                placeholder="e.g. 'Vessel Store', 'Amarantha Store'"
                            />                            
                        </div>
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >
                            Save
                        </button>
                        
                    </form>                    
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Optional: Place to the bottom of scripts -->
    <script>
        const myModal = new bootstrap.Modal(
            document.getElementById("modalId"),
            options,
        );
    </script>
{% endblock %}