{% extends "sqladmin/layout.html" %}


{% block content %}

<div class="w-25">
	<img src="{{ url_for('static', path='image/mazuka-logo.png') }}" class="w-100 h-100"/>
</div>
	
<div class="bg-primary d-flex flex-column flex-md-row justify-content-around align-items-center h-75 py-4 px-2">
	<div class="mt-1">
		<img src="{{ url_for('static', path='image/hero-img.png') }}" class="w-100 h-100"/>
	</div>
	
	<div class="text-center">
		<h1 class="fs-2 text-light">MNLSIR</h1>
       <p class="fs-5 text-light">Mazuka Nigeria Ltd. System of Integrated Records</p>
		<div class="h-auto d-flex flex-row justify-content-center text-center">
			<a class="btn btn-light q rounded" href="tel:+2348037680836">Call Admin</a>
			<a class="mx-2 btn btn-secondary rounded" href="mailto:princeadigwe29@gmail.com">E-mail Admin</a>
		</div>
	</div>
	
</div>


<div>
	<a href="/admin/store/list" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
		<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Stores</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
	<a href="/admin/unit/list" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Units</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
	<a href="/admin/product/list" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Product</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
	<a href="/admin/product-unit-conversion/list" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Product/Unit Conversions</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
	<a href="/admin/inventory" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Inventory</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
	<a href="/admin/goods-receiving" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Receive Goods</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
	<a href="/admin/goods-received-ledger" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Goods Received Ledger</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>

	<a href="/admin/issue-stock" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Issue Stock</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
	<a href="/admin/dispatch" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Dispatch Stock</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
	<a href="/admin/dispatch-ledger" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Dispatch Ledger</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
	<a href="/admin/stock-movement-review" class="d-flex flex-row justify-content-between align-items-center w-100 border-2 border-info py-2">
		<div>
			<span class="text-light d-inline-block p-2 bg-info rounded" style="--bs-bg-opacity: .4"><i class="fa-regular fa-rectangle-list"></i></span>
			<h2 class="d-inline-block mx-2">Stock Movement Review</h2>
		</div>
		
		<i class="fa-solid fa-chevron-right"></i>
	</a>
	
</div>

{% endblock %}